.dashboard tr th {
  text-align: center;
}
.dashboard tr td {
  text-align: center;
}
#home {
  border-style: hidden groove groove groove;
}
.borderless tbody tr td {
  border: none !important;
  width: 400px;
}
.outlettable {
  width: 1100px !important;
}
.outlettable tr th,
.outlettable tr td {
  text-align: center;
}
.filterform{
  margin-right: 20px;
}
.delete{
  margin-left: 1020px;
}
.outletButton{
  margin-right: 20px;
  margin-bottom: 20px !important;
  float: right;
}
.paginator{
  text-align: center;
}
.dealerDelete{
  margin-left: 1015px;
}
.back{
  float: right;
  margin-right: 10px;
}
.addback{
  margin-left: 6px;
}
.brand{
  margin-left: 50px;
}
.upload{
  width: 540px;
  height: 324px;
  margin-left: 26%;
  padding: 23px;
  padding-left: 108px;
  border-radius: 16px;
  border: 1px solid #ccc!important;
}
label{
  font-size: 16px;
}
.bodydiv{
  padding-left: 0 !important;
}
.invadd{
  margin-top: 25px;
}
.file-upload-button{
  font-size: 16px;
  margin: 4px 2px;
}
.upload-button, .download-button{
  height: 40px;
  width: 90px;
  font-size: 18px !important;
  margin-top: 20px;
}
.upload-button{
  /* margin-left: 35%; */
  float: right;
  margin-right: 95px;
  display: none;
}
.download-button{
  /* float: left; */
  /* margin-left: -6px;
  margin-top: -13px; */
  width: 179px;
}
/* .form-control{
  width: 55% !important;
} */