{% extends "base.html" %}{% load crispy_forms_tags %}

<!--
  <h÷3>dealer edit</h3>
  <input type="text" value="{{dealer_info.brand}}" name="brand" />
  <input
    type="checkbox"
    value="True"
    {%
    if
    dealer_info.sales_outlet
    %}
    checked="checked"
    {%
    endif
    %}
    name="outlet"
  />
  <button>edit</button>
-->

{% block content %}
<div class="container"> 
  <h2>Edit Contact</h2>
  <form action="/dealer/{{ contact.id }}/contact-edit/" method="POST">
    {% csrf_token %}
    <!-- {{ contactform.name.auto_id}}
    {{ contactform.name}} -->
    {{ contactform | crispy }}
    <button type="submit" class="btn btn-success">Edit</button>
  </form>
</div>
{% endblock %}
