{% extends "base.html" %}{% load crispy_forms_tags %}{% block content %}

<div class="container">
    <div class="message">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "success" %}
    
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ message }}.
            </div>
        {% endif %}
        {% if message.tags == "error" %}
    
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Oops!</strong> {{ message }}.
            </div>
        {% endif %}
        
        
        {%  endfor %}
        
        {% endif %}
    </div> 
    <center><h3>Dealer Discount Upload</h3><hr /></center>
    <div class="upload">
        <form action="{% url 'dealer:dealer-discount' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ dealerdiscountform | crispy }}
            <button type="submit" class="btn btn-success upload-button">Upload</button>
        </form>
        <button type="button" class="btn btn-success download-button" onClick="location.href='{% url 'dealer:download-file' value='dealer' %}';">Download</button>
    </div>
    <!-- <div>
      <form method="POST" action="/dealer/{{ dealer_info.id }}/dealer-price-download/">
        {% csrf_token %}
        <h3>Download Price file for Dealer</h3><br />
        <label for="price-download">Month & Year:</label>
        <input
          type="month"
          class="upload"
          id="dealership_name"
          name="dealership_name"
          
        />
        <button type="submit" class="btn btn-success">Download</button>
      </form>
       {{ FilterDateForm | crispy }} 
    </div>   -->
  </div>
  <script>
    $(document).ready(function() {
        $('.upload-button').prop('disabled', true);
        $('.download-button').prop('disabled', true);
        $('.select-city').change(function(){
            if($(this).val() != ''  && $('.select-dealer').val() != ''){
                $('.download-button').removeAttr('disabled');
            }
        })
        $('.select-dealer').change(function(){
            if($(this).val() != '' && $('.select-city').val() != ''){
                $('.download-button').removeAttr('disabled');
            }
        })
        $('.file-upload-button').change(function() {
            if($(this).val() != '') {
                $('.upload-button').removeAttr('disabled');
            }
        });
    });
</script>
{% endblock %}