{% extends "base.html" %} {% load crispy_forms_tags %}{% block content %}
<button
  type="button"
  class="btn btn-primary btn-lg"
  data-toggle="modal"
  data-target="#myModal"
>
  Add Manager
</button>
<button
  type="button"
  class="btn btn-primary btn-lg"
  data-toggle="modal"
  data-target="#Modal"
>
  Add Dealer
</button>
<button
  type="button"
  class="btn btn-primary btn-lg"
  data-toggle="modal"
  data-target="#contact"
>
  Add Contact
</button>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Add Manager</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="bdmform">
          {% csrf_token %} {{ form | crispy }}

          <button type="submit" class="save btn btn-success">Save</button>
        </form>
      </div>
      <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      -->
    </div>
  </div>
</div>

<div class="modal fade" id="Modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Add Dealer</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="dealerform">
          {% csrf_token %} {{ dealerform | crispy }}

          <button type="submit" class="save btn btn-success">Save</button>
        </form>
      </div>
      <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      -->
    </div>
  </div>
</div>

<div class="modal fade" id="contact" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Add Contact</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="contactform">
          {% csrf_token %} {{ contactform | crispy }}

          <button type="submit" class="save btn btn-success">Save</button>
        </form>
      </div>
      <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      -->
    </div>
  </div>
</div>
<!--
  <div class="container">
    <h2>Add Dealer</h2>
    <form method="Post" action="/dealer/index/">
      {% csrf_token%}
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input
          type="password"
          class="form-control"
          id="pwd"
          placeholder="Enter password"
          name="pwd"
        />
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember" /> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
-->
<div class="container"></div>
{% endblock %}
