{% extends "base.html" %}{% load crispy_forms_tags %}



{% block content %}
<div class="container">
  <div class="message">
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == "success" %}

      <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> {{ message }}.
        </div>
      {% endif %}
      {% if message.tags == "error" %}

      <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Oops!</strong> {{ message }}.
        </div>
      {% endif %}
      
    
      {%  endfor %}
    
      {% endif %}
    </div>
  <h2>Welcome to AckoDrive Workspace!</h2>
</div>
{% endblock %}